body {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

img {
    max-width: 100%;
    height: auto;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* Menu */

ul {
    overflow: hidden;
    background-color: rgb(121, 115, 115);
}

li {
    float: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}


